body{
    font-family: "Poppins", Arial, sans-serif;
    background: #fff;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
}
.col-2{
    text-align: end;
    padding: 0;
}
.col-3{
    padding: 0;
}

.backimg{
    /* height: 77vh; */
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-image: url("college1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    position: relative;
    min-height: 550px;
}

.fox_design a{
    text-decoration: none;
    color: black;
    font-weight: 900;
    font-size: 25px;
}

.myuniver{
    color: white;
    position: relative;
    z-index: 10;
}
.ro h1{
    font-weight: 900;
    font-size: 2.5rem;
    margin-bottom: 25px;
}
.btnc{
    color: wheat;
    margin-top: 25px;
    background-color: #fd5f00;
    padding: 20px;
    border-radius: 50px;
    border: 0px;
    transition: all 0.2s;
}
.btnc:hover{
    padding: 18px 26px;
}
.fa-chalkboard-user{
    margin-bottom: 25px;
    font-size: 2rem;
}
.fa-school{
    margin-bottom: 25px;
    font-size: 2rem;
}
.fa-book{
    margin-bottom: 25px;
    font-size: 2rem;
}
@media screen and (max-width:768px) {
    
}
.padd{
    padding: 10px;
}
.icons{
    width: 67px;
    height: 84px;
    background: red;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0px 43px;
}
.para p{
    color: #666666;
}
.hello{
    padding: 0;
    text-align: center;
}




.section3{
    /* background-color: #ff7621; */
    background-image: url("college.jpeg");
    position: relative;
    /* background-repeat: no-repeat; */
}
.contain{
    padding: 80px;
}
.fox_img{
    height: 350px;
    width: 550px;
    object-fit: cover;
    background-attachment: fixed;
}
.text strong.number {
    font-weight: 600;
    font-size: 40px;
    color: #fff;
    display: block;
    text-align: center;
}
 .text span {
    display: block;
    font-size: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}
.datas{
    padding-top: 50px;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250, 129, 54, 0.5);
    z-index: 2;
    cursor: pointer;
}
.contain{
    position: relative;
    z-index: 9;
}


/* ---------------------------image style------------------------------ */
.img1{
    background-image: url("img1.webp");
    height: 300px;
    width: 100%;
    background-size: cover;
}
.img2{
    background-image: url("electric.webp");
    height: 300px;
    width: 100%;
    background-size: cover;
}
.img3{
    background-image: url("computer.jpg");
    height: 300px;
    width: 100%;
    background-size: cover;
}
.img4{
    background-image: url("electronic.jpg");
    height: 300px;
    width: 100%;
    background-size: cover;
}
.icon_para i{
   color: #fd5f00;
   font-size: 13px;
}
.readbtn{
    color: white;
    background-color: #fd5f00;
    padding: 10px;
    border-radius: 50px;
    border: 0px;
    text-decoration: none;
}
.btnapply:hover{
    background-color: white;
    color: #fd5f00;
    border: 2px solid #fd5f00;
}

.imgc1{
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    transition: all 0.3s ease 0s;
    object-fit: cover;
}
.imgc1 i{
    color: #fd5f00;
    
}
.imgc1:hover{
    transform: scale(1.1);
}
.imgc1:hover .myicons{
    display: block;
}
.iconss{
    position: relative;
}
.iconss:hover .myicons{
    display: block;
}
.myicons{
    position: absolute;
    bottom: 8px;
    left: 40%;
    color: #fd5f00;
    display: none;
}

.myicons i{
    margin-right: 8px;
}
/* -------------------CONTACT IMAGE-------------------- */
.blogs{
   margin-top: 130px;
}
.contact-img{
    background-image: url("contact.jpg");
    position: relative;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: 4%; */
}
.contact-f{
    position: relative;
    color: white;
    z-index: 10;
}
.blogs_img{
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
.students{
    margin-top: 130px;
}
.footer{
    background-color: #232323;
    min-height: 750px;
    color: white;
}




.myuser{
    color: grey;
    font-size: 13px;
}
.myuser span{
    margin-right: 8px;
}
.message{
    margin-left: 8px;
}
.linksp p{
    font-size: 14px;
}
.linksp p:hover{
    color: grey;
    cursor: pointer;
}

input[type = email]{
    min-width: 250px;
    padding: 13px;
    outline: none;
    background-color: #343a40;
    height: 53px;
    border: none;
    text-align: center;
    color: white;
}
::placeholder{
    color: rgb(187, 187, 187);
    font-weight: 500;
}
input[type = submit]{
    height: 52px;
    padding: 13px;
    min-width: 250px;
    margin-top: 20px;
    background-color:#5d50c6;
    outline: none;
    border: none;
}
.submit{
    color: white;
}
.submit:hover{
    background-color: #fd5f00;
}
.connect{
    margin-top: 50px;
}
.iconsforc{
    margin-top: 35px;
}
.iconsforc i{
    margin-right: 35px;
    font-size: 22px;
    transition: all 0.4s;
}

.iconsforc i:hover{
    color: #fd5f00;
    cursor: pointer;
}


.firstn{
    outline: none;
    border: none;
}